<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qiaodan.mapper.DepartmentMapper">

	<insert id="save" parameterType="com.helloqiaodan.firstweb.Department" useGeneratedKeys="true">
		insert into tb_department(name)values(#{name})
	</insert>
	
	<delete id="deleteDepartment" parameterType="java.lang.Integer">
		delete from tb_department where id=#{id}
	</delete>

	<update id="updateDepartment" parameterType="com.helloqiaodan.firstweb.Department">
		update tb_department set name=#{name} where id=#{id}
	</update>
	
	<select id="findDepartment" parameterType="java.lang.String" resultType="com.helloqiaodan.firstweb.Department">
		select * from tb_department where name like '%${value}%'
	</select>
</mapper>